header{
    height: 70px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(228, 212, 212);
}
#topMenu{
    height: 30px;
    width: 850px;
}
#topMneu ul li{
    list-style: none;
    color: burlywood;
    background-color: rgb(24, 23, 23);
    float:left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}
#topMenu .menuLink{
    text-decoration: none;
    color: white;
    display: blcok;
    width:150px;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#TopMenu .menuLink:hover{
    color:rend;
    background-color: #4d4d4d;
}
/* 
.items{
    flex: 30%;
    background-color: skyblue;
}
.items ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.items li {   
    float: left;
    border-right: 1px solid #bbb;
 
}


.items a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.items a:hover{
    background-color: #111;
} */

.content2-1{
   float: left;
   width:30%;
   height: 700px;
    background-color: skyblue;
}
.content2-2{
    float: right;
    height:700px;
    width:70%;
}
.interest{
    flex:30%;
    background-color: pink;
}
.figure-interest{
    flex:70%;
    background-color:purple;
}
.fig1{
    float:left;
    width:33%;
    background-color: aqua;
}
.fig2{
    float:left;
    width:33%;
    background-color: green;
}
.fig3{
    float:left;
    width:34%;
    background-color: blue;
}

.etf-fig{
    flex:50%;
    background-color:paleturquoise;
}

.etf-video{
    flex:50%;
    background-color: pink;
}




.world_map_us{
    flex:25%;
    background-color:paleturquoise;
}

.sp500_map_us{
    flex:25%;
    background-color:paleturquoise;
}

.etf_map_us{
    flex:25%;
    background-color:paleturquoise;
}

