header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border:none; padding:10px;
}

*{padding:0;margin:0}
ul,ol{list-style:none}
a{text-decoration:none;color:#fff;font-size:15px}
nav{width:80%;overflow:hidden;height:80px;background-color:#1b2035;margin:3px auto}

#topMenu2{
    text-align:center;
    background-color:none
}
#topMenu2>ul{
    display:inline-block
}
#topMenu2>ul li{
    float:left;
    padding:0 100px;
    line-height:80px}

.content1{
        float: left;
        padding: 3px 30px;
}
.content2-1{
   float: left;
   width:30%;
   height: 700px;
}
.content2-2{
    float: right;
    height:700px;
    width:70%;
}


.etf-fig{
    flex:50%;
}

.etf-video{
    flex:50%;
}




.world_map{
    flex:20%;
}

.sp500_map_us{
    flex:20%;
}

.etf_map_us{
    flex:20%;
}

.kospi{
    flex:20%;
}

.kosdaq{
    flex:20%;
}
